<!--/* LetsChat - A social media platform framework
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */-->

<!DOCTYPE html>
<html>
<head>
	<title>LetsChat</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="game.css">

<script src="kwitter.js"></script>
</head>
<body>

<center>
	<h1>LetsChat</h1>

	<div class="col-lg-4 col-sm-8 col-xs-11 login_div1">
		<h3 >User Login</h3>
		<label >User Name:</label>
		 <input type="text" id="user_name" class="form-control" placeholder="Name">
		 <br>
	</div>
<br>
	<!--<div class="col-lg-4 col-sm-8 col-xs-11 login_div2">
		<h3 >Player 2 Login for the game</h3>
		  <label >User Name:</label>
		 <input type="text" id="player2_name_input" class="form-control" placeholder="Player 2 Name">-->
		<br>
	<!--</div>-->
	<br>
		<button style="width:30%" class="btn btn-primary" onclick="addUser()">Log in</button>
</center>

</body>
</html>