<!DOCTYPE html>
<html>
<head>
	<title>LetsChat</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>

<script src="practice.js"></script>
</head>
<body>
<div class="container">
	
	<h1>Minimal Login</h1>

		<div class="form-group">
		  <label >User Name:</label>

		</div>

		<button class="btn btn-success">Add User Name</button>

</div>

</body>
</html>